.Card-Container {
    position: relative;
    width: calc(33% - 60px);
    margin: 50px 30px 40px 30px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    float: left;
  }
  
  @media (max-width: 1024px) {
    .Card-Container {
      margin: 30px 40px;
      width: calc(50% - 80px);
    }
  }
  @media (max-width: 768px) {
    .Card-Container {
      margin: 30px 40px;
      width: calc(100% - 80px);
    }
  }
  
  .Card-Container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .Card-Container:hover img {
    transform: scale(1.25);
  }
  .Card-Container:hover figcaption {
    bottom: 0;
  }
  .Card-Container h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
  }
  .Card-Container img {
    height: 100%;
    width: 100%;
    transition: 0.25s;
  }
  .Card-Container figcaption {
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    transition: 0.25s;
  }
  .Card-Container figcaption h2 {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
  }
  .Card-Container figcaption p {
    font-size: 14px;
    line-height: 1.75;
  }
  .Card-Container figcaption button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
  }
  
  .Card-Container figcaption .view--button{
    background-color: #1abc9c;
  }
  .Card-Container figcaption .edit--button{
    background-color: rgb(96 165 250);
  }
  .Card-Container figcaption .delete--button{
    background-color: rgb(248 113 113);
  }

  .Place-item__modal-content {
    padding: 0;
  }
  
  .Place-item__modal-actions {
    text-align: right;
  }
  
  .Map-container{
    text-align: center;
    width: 39rem;
    height: 20rem;
  }