
.card {
  background-image: linear-gradient(to right, rgba(20, 30, 30, 0.8), rgba(20, 15, 15, 0.6));
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 30px 40px 30px;
  width: calc(25% - 60px);
  /* 1/3 minus the margins (20+20) */
  padding: 20px;
  text-align: center;
  color: white;
  float: left;
}
@media (max-width: 1024px) {
  .card {
    margin: 30px 40px;
    width: calc(50% - 80px);
  }
}
@media (max-width: 768px) {
  .card {
    margin: 30px 40px;
    width: calc(100% - 80px);
  }
}
.card .title {
  font-size: 25px;
}
.card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.card .icon img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.card .features ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}
.card .features ul li {
  margin: 10px 0;
  font-size: 18px;
}
.card .features ul li span {
  border-bottom: 2px solid rgb(74 222 128);
}
.card .btn {
  display: block;
  background: rgb(74 222 128);
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  font-size: 18px;
}
.card .btn:hover {
  background: rgb(134 239 172);
}